$background-color: #727272;

$primary-text: #212121;
$secondary-text: #FDFDFD;
$tertiary-text: #484848;
$primary-border-temp: $primary-text;
$secondary-border-temp: $secondary-text;

$radio-button-checked-color: #CDDC39;
$radio-button-checked-shadow: #AFB42B;
$radio-button-unchecked-color: #B6B6B6;
$radio-button-unchecked-shadow: #727272;

$day-color: #FFC107;
$night-color: #303F9F;

$hot-color: #FF5722;
$warm-color: #FF9800;
$cold-color: #00BCD4;
$freezing-color: #2196F3;
$position-color: #FFEB3B;
