@import 'variables', 'mixins', 'colors';

*{
	box-sizing: border-box;
}

body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: $background-color;
	display: flex;
    align-items: center;
    justify-content: center;
}

#weather-container{
	@include user-select(none);
	width: $degree-size;
	position: relative;
	font-family: league-gothic, sans-serif;
}

#degree-container{
	@include circle-box($degree-size);
	font-size: $degree-size / 1.8;
	line-height: $degree-size - 10px;
	text-align: center;
	&.degree-hot{
		background: $hot-color;
	}
	&.degree-warm{
		background: $warm-color;
	}
	&.degree-cold{
		background: $cold-color;
	}
	&.degree-freezing{
		background: $freezing-color;
	}
	&.degree-hot, &.degree-warm {
		color: $primary-text;
		text-shadow: 3px 3px 0 $secondary-text;
		border: $border-size solid $primary-border-temp;
	}
	&.degree-freezing, &.degree-cold {
		color: $secondary-text;
		text-shadow: 3px 3px 0 $primary-text;
		border: $border-size solid $primary-border-temp;
	}
}

#weather-icon{
	@include circle-box($icon-size);
	position: absolute;
	top: $degree-size - $icon-size / 2 - 40px;
	left: -$icon-size / 2 + 30px;
	overflow: hidden;
	font-size: $icon-size / 2.2;
	text-align: center;
	& > i {
		position: relative;
		top : -$icon-size;
		line-height: $icon-size - 10px;
		transition: all .5s ease-in-out;
	}
	&.weather-day {
		background: $day-color;
		border: $border-size solid $primary-border-temp;
		color: $primary-text;
		text-shadow: 2px 2px 0 $secondary-text;
	}
	&.weather-night {
		background: $night-color;
		border: $border-size solid $primary-border-temp;
		color: $secondary-text;
		text-shadow: 2px 2px 0 $primary-text;
	}
	&[class^="weather"] > i{
		top: 0px;
	}
}

#unit-container{
	position: absolute;
	top: $degree-size - $radio-button-size / 2 - 15px;
	left: $degree-size - $radio-button-size / 2 - 15px;
	& > .unit-button {
		height: $radio-button-size;
		width: $radio-button-size;
		position: absolute;
		&:first-child{
			left: -$radio-button-size;
		}
		&:last-child{
			top: -$radio-button-size;
		}
	}
}

input[type="radio"]:not(old){
	height: $radio-button-size;
	width: $radio-button-size;
	opacity: 0;
	& + label{
		position: relative;
		top: -12px;
		margin-left: -$radio-button-size;
		font-size: $radio-button-size / 1.4;
		@include circle-box($radio-button-size);
		background: $radio-button-unchecked-color;
		display: inline-block;
		text-align: center;
		line-height: $radio-button-size - $border-size - 1px;
		color: $tertiary-text;
		text-shadow: 2px 2px 0 $secondary-text;
		border: $border-size solid $primary-border-temp;
		box-shadow: inset 0 0 0 0 $radio-button-unchecked-shadow;
		transition: all .2s ease-in-out;
	}
	&:checked {
		& + label {
				color: $primary-text;
				background: $radio-button-checked-color;
				box-shadow: inset 0px 3px 0 0 $radio-button-checked-shadow;
		}
	}
}

#location-container{
	@include rounded-box(auto, auto, 20px);
	background: $position-color;
	margin: 25px auto;
	border: $border-size solid $primary-border-temp;
	font-size: $location-height / 1.3;
	line-height: $location-height;
	text-align: center;
	text-shadow: 2px 2px 0 $secondary-text;
}
