$radio-button-size: 50px;
$degree-size: 300px;
$icon-size: 100px;
$location-height: 50px;
$location-width: 200px;
$location-font-size: 30px;

@mixin rounded-box($h, $w, $r){
	height: $h;
	width: $w;
	border-radius: $r;
}

@mixin circle-box($r){
	@include rounded-box($r, $r, 50%);
}

@mixin user-select($a){
	-moz-user-select: $a;
	-webkit-user-select: $a;
	-ms-user-select: $a;
	user-select: $a;
}

#weather-container{
	width: $degree-size;
	margin: 5% auto 0;
	position: relative;
	@include user-select(none);
}

#degree-container{
	@include circle-box($degree-size);
	background: #0ff;
	text-align: center;
	font-size: $degree-size / 3.5;
	line-height: $degree-size;
}

#weather-icon{
	position: absolute;
	@include circle-box($icon-size);
	background: #f0f;
	line-height: $icon-size;
	font-size: $icon-size / 1.2;
	text-align: center;
	top: $degree-size - $icon-size / 2 - 40px;
	left: -$icon-size / 2 + 30px;
}

#unit-container{
	position: absolute;
	top: $degree-size - $radio-button-size / 2 - 10px;
	left: $degree-size - $radio-button-size / 2 - 10px;
	& > .unit-button {
		position: absolute;
		&:first-child{
			left: -$radio-button-size;
		}
		&:last-child{
			top: -$radio-button-size;
		}
	}
}


input[type="radio"]:not(old){
	height: $radio-button-size;
	width: $radio-button-size;
	opacity: 0;
	& + label{
		font-size: 40px;
		margin-left: -$radio-button-size;
		& > span {
			background: #0f0;
			position: relative;
			top: -14px;
			display: inline-block;
			text-align: center;
			@include circle-box($radio-button-size);
			line-height: $radio-button-size;
		}
	}
	&:checked {
		& + label {
			& > span{
				background: #00f;
			}
		}
	}
}

#location-container{
	font-size: $location-font-size;
	line-height: $location-height;
	text-align: center;
	margin: 20px auto;
	background: #ff0;
	@include rounded-box($location-height, $location-width, 20px);
}
