$radio-button-size: 50px;
$degree-size: 300px;
$icon-size: 100px;

@mixin rounded-box($h, $w, $r){
	height: $h;
	width: $w;
	border-radius: $r;
}

@mixin circle-box($r){
	@include rounded-box($r, $r, 50%);
}

#weather-container{
	width: $degree-size;
	margin: 0 auto;
	position: relative;
}

#degree-container{
	@include circle-box($degree-size);
	background: #0ff;
	text-align: center;
	& > span {
		font-size: 130px;
		line-height: $degree-size;
	}
}

#weather-icon{
	position: absolute;
	@include circle-box(100px);
	background: #f0f;
	line-height: $icon-size;
	font-size: 5em;
	text-align: center;
	top: $degree-size - $icon-size / 2 - 40px;
	left: -$icon-size / 2 + 40px;
}

#unit-container{
	position: absolute;
	width: 0;
	height: 0;
	background: #00f;
	top: $degree-size - $radio-button-size / 2 - 10px;
	left: $degree-size - $radio-button-size / 2 - 10px;
	& > .unit-button {
		position: absolute;
		&:first-child{
			left: -$radio-button-size;
		}
		&:last-child{
			top: -$radio-button-size;
		}
	}
}


input[type="radio"]:not(old){
	height: $radio-button-size;
	width: $radio-button-size;
	margin: 0;
	padding: 0;
	opacity: 0;
	& + label{
		font-size: 40px;
		margin-left: -$radio-button-size;
		& > span {
			background: #0f0;
			position: relative;
			top: -14;
			display: inline-block;
			text-align: center;
			@include circle-box($radio-button-size);
			line-height: $radio-button-size;
		}
	}
	&:checked {
		& + label {
			& > span{
				background: #00f;
			}
		}
	}
}

